/* Importo las fuentes utilizadas */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html{
  scroll-behavior: smooth; /* Me permite moverme por la página con efecto scroll */
}

:root {
  --padding-container: 100px 0;
  --color-title: #001a49;
}

body {
  font-family: "Bebas Neue", sans-serif; 
}

.container {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin: 0 auto;
  overflow: hidden;
  padding: var(--padding-contenedor);
  font-family: "Bebas Neue", sans-serif;
}

.hero {
  width: 100%;
  height: 50vh;
  margin:0 auto;
  position: relative;
}

.hero::before {
  content: "";
  background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%),
    url("../img/licor.jpg"); /* Logo de la página */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.nav {
  padding: 0 20px;
  height: 100px;
  display: flex;
  align-items: center;
}

.nav__container{
  position:fixed;
  font-size: 1.1rem;
  width:100%;
  height:4rem;
  background-color: #100a15;
  overflow:hidden;
  border-radius: 0;
  opacity: 1;
  z-index: 1;
}

.nav__title {
  font-family: 'Berkshire Swash', cursive;
  font-weight: 300;
  color: #fecd41;
  padding: 20px;
  text-shadow: rgb(6, 6, 6) 0 2px 0;
}

.nav__link {
  margin-left: auto;
  padding: 20px;
  display: flex;
  gap: 1rem;
}

.nav__item {
  list-style: none;
}

.nav__links {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  padding: 10px;
}

.nav__links:hover{
  color:#F2B441;
}

.nav__menu {
  margin-left: auto;
  cursor: pointer;
  display: none;
}

.nav__img {
  display: block;
  width: 30px;
}

.nav__logo{
  font-size: 1.4rem;
}

.hero__container {
  width: 100%;
  --padding-container: 0;
  display: grid;
  grid-auto-rows: max-content;
  align-content: center;
  gap: 1em;
  text-align: center;
  background-color: #100a15;
}

.hero__title {
  font-size: 2rem;
  letter-spacing: 3px;
  color: #F2B441;
  margin: 50px 0 20px 0;
}

.hero__paragraph {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #ebe8db;
}

.cta {
  display: inline-block;
  background-color: #fecd41;
  justify-self: center;
  color: black;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 30px;
  font-size: 1.5rem;
  border-style: solid;
  border-color: #100a15;
}

.cta:hover{
  box-shadow: 0 0 10px;
  scale: 1.05;
  transition: 0.5s;
}

@media screen and (max-width:1200px) and (min-width: 500px){
  .nav__links{
    font-size: 15px;
  }
  .hero__title{
    margin-top: 50px;
    font-size: 2rem;
    letter-spacing: 2px;
  }

  .hero__paragraph{
    font-size: 1.3rem;
  }

  .cta{
    padding: 10px 20px;
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 500px){
  .nav__logo{
    font-size: 1.1rem;
  }
  .hero__title{
    margin-top: 50px;
    font-size: 1.6rem;
    letter-spacing: 2px;
  }

  .hero__paragraph{
    font-size: 1.1rem;
  }

  .cta{
    padding: 10px 20px;
    font-size: 1.3rem;
  }
}

/* About */

.about {
  margin-top: 20px;
  text-align: center;
  overflow: hidden;
  font-size: 1em;
}

.subtitle {
  font-family: 'Berkshire Swash', cursive;
  color: #fecd41;
  background-color: #100a15;
  font-size: 2rem;
  padding: 1rem;
  border: 1px solid #fcfcfc;
  border-radius: 5px;
}

.container__about {
  display: grid;
  justify-items: center;
  margin-bottom: 30px;
}

/* Acerca de nosotros */

.Nosotros{
  text-align: center;
}

.aboutUs{
  overflow: hidden;
  padding: 20px 50px 20px 50px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-image: radial-gradient(
    #dcb433 0.5500000000000001px,
    #fcf9ea 0.8500000000000001px
  );
  background-size: 12px 12px;
  opacity: 0.8;

}

.about__image{
  width:100%;
  padding: 20px;
  padding-left: 0;
  overflow: hidden;
  justify-self: center;
}

.aboutUs__subtitle{
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}

.icon{
  display:grid;
  grid-template-columns: 1fr 5fr;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.description{
  list-style: none;
}

.nosotros__paragraph{
font-family: 'Poppins', sans-serif;
font-size: 1.3rem;
text-align: justify;
padding: 10px 70px 10px 100px;
margin-bottom: 20px;

}

@media screen and (max-width:930px){
  .nosotros__paragraph{
    font-size: 1.2em;
    padding: 10px;
    margin-left: 20px;
  }

  .icon{
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 700px){
  .nosotros__paragraph{
    font-size: 1em;
    padding: 10px;
  }
}

@media screen and (max-width: 520px){
  .nosotros__paragraph{
    margin: 0;
  }

  .aboutUs{
    display: flex;
    flex-direction: column;
  }

  .description{
    margin:0;
    padding: 10px;
    padding-left: 0;
    display: flex;
    justify-content: center; /* Align items horizontally in the center */
    align-items: center; 
    gap:1rem;
    list-style: none;
  }

  .icon{
    position: relative;
    left: 10px;
    display:flex;
    flex-direction: column;
  }

  .icon__text{
    font-size: 0.65rem;
  }

  .aboutUs{
    padding:10px;
  }
}
/* Productos */

/*ORDEN: MORA, MARACUYÁ, ARÁNDANO*/
/*ORDEN: PRIMERO CREMA BOTELLAS, CREMAS POUCH 500ML, CREMAS POUCH 250 ML, LUEGO JUGOS CON MEZCAL CON PLATA COMESTIBLE. ORDEN ARRIBA*/

/*CREMAS (BOTELLAS Y POUCH 500ml Y 250ml) Y JUGOS (BOTELLAS Y POUCH 500ml Y 250ml) */
/*ORDEN: MORA, MARACUYÁ, ARÁNDANO*/

.products {
  display:block;
  text-align: center;
  width:100%;
  overflow: hidden;
  background-color: #ffffff;
  background-image: radial-gradient(
    #dcb433 0.5500000000000001px,
    #fcf9ea 0.8500000000000001px
  );
  background-size: 12px 12px;
  border-radius: 0;
  margin-bottom: 30px;
}

.subtitle2 {
  color: #130c1a;
  font-weight: 300;
  font-family: 'Berkshire Swash', cursive;
  font-size: 2rem;
  padding: 40px;
  margin-top: 20px;
}

.product__title{
  font-family: 'Berkshire Swash', cursive;
  letter-spacing: 1px;
  font-weight: 90;
  font-size: 1.2em;
}

.products__cremas {
  padding: 10px;
  display: grid;
  width: 80%;
  margin: 0 auto;
  gap: 1em;
  overflow: hidden;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
}

@media screen and (min-width:700px){

  .products__cremas .products__images:nth-child(4){
      grid-column: 1 / span 3;
      justify-self: center;
      width:23%;
  }

}


.products__jugos {
  padding: 10px;
  display: grid;
  width: 80%;
  margin: 0 auto;
  gap: 1em;
  overflow: hidden;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
}


.products__pouch {
  padding: 10px;
  display: grid;
  width: 80%;
  margin: 0 auto;
  gap: 1em;
  overflow: hidden;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.products__images {
  display: grid;
  gap: 0.3em;
  justify-items: center;
  width: 80%;
  min-width: 100px;
  max-width: 260px;
  grid-template-rows: 1fr, 1fr;
  border: 3px solid #100a15;
  border-radius: 15px;
  overflow: hidden;
  margin: 0 auto;
}

.products__images:hover {
  box-shadow: 0 0 10px #666;
  scale: 1.05;
  transition: 0.2s;
  background-color: #fecd41;
}

.product__image {
  width: 80%;
  display: block;
  margin-bottom: 10px;
  align-items: center;
  border-radius: 15px;
  padding: 5px;
}

.product__paragraph {
  margin-bottom: 10px;
}

.cta2 {
  font-size: 1.2rem;
    display: inline-block;
    background-color: #000000;
    justify-self: center;
    text-align: center;
    vertical-align: middle;
    color: #fecd41;
    text-decoration: none;
    width:90%;
    height:80%;
    letter-spacing: 1px;
    padding: 10px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width:700px){
  .products__cremas,
  .products__jugos,
  .products__pouch,
  .shops__images{
    grid-template-columns: repeat(2, 1fr);
  }

  .products__jugos .products__images:nth-child(3){
    grid-column: 1 / span 2;
    justify-self: center;
    width:40%;
  }

}

@media screen and (max-width:400px){
  .products__cremas,
  .products__jugos,
  .products__pouch{
    width:100%;
  }
}


/* Tiendas */

.shops {
  text-align: center;
  width:100%;
  background-color: #e5e5f7;
  background-image: radial-gradient(
    #dcb433 0.5500000000000001px,
    #fcf9ea 0.8500000000000001px
  );
  background-size: 20px 20px;
  overflow: hidden;
  margin:0 auto;
  margin-bottom: 20px;
}

.shops__main {
  padding: 15px;
  display: grid;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  gap: 1em;
  justify-content: center;
  grid-template-columns: repeat(5, 1fr);
  overflow: hidden;
}

.shops__body{
  align-self: center;
  justify-self: center;
}

.shops__image {
  width: 150px;
  border-radius: 20px;
  display: block;
  overflow:hidden;
  opacity: 0.8;
}

.shops__image:hover{
  opacity:1;
}

#mc_image{
  z-index: 100;
  opacity: 1;
}


@media screen and (max-width:850px) and (min-width:500px){
  .shops__main{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width:500px){
  .shops__main{
    grid-template-columns: repeat(2, 1fr);
  }

  .shops__image {
    width: 120px;
  }
}


/* Contacto */
/*TODO VÍA WHATSAPP*/

.footer{
  background-color: #100a15;
  opacity:0.9;
  max-width: 100%;
}

.footer__title{
  font-family: 'Berkshire Swash', cursive;
  font-weight: 300px;
  color: #fecd41;
  padding: 10px;
  text-shadow: rgb(6, 6, 6) 0 2px 0;
  margin-bottom: 30px;
}


.footer__container{
  display:flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #F2B441;
  padding: 30px;
}

.nav--footer{
  margin-bottom: 20px;
  display:grid;
  gap: 1 em;
  grid-auto-flow: row;
  height:100%;
}

.nav__link--footer{
  display:flex;
  margin:0;
  margin-right: 20px;;
  gap: 1em;
  flex-wrap: wrap;
}

.nav__links__footer:hover{
  color:#F2B441;
  font-weight: 400;
}


.footer__form{
  padding:20px;
  color: #fecd41;
  text-align: left;
}

.footer__copy{
  text-align: center;
  height: 100%;
}

.footer__copyright{
  padding:10px 10px 20px 10px;
  color: #FCF9EA;
}

.footer__img{
  margin-top: 15px;
  margin-right: 10px;
  width: 50px;
}

.footer__img:hover{
  background-color:#F2B441;
  border-radius: 15px;
}


.footer__img:hover{
  width: 50px;
}

.footer__inputs{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer__submit{
  display: inline-block;
  margin-top:5px;
  background-color: #fecd41;
  justify-self: center;
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1.3rem;
  border-style: solid;
  border-color: #100a15;
  cursor: pointer;
  text-align: center;
}

.footer__input{
  padding: 10px;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  align-items: flex-start; /* Align elements to the right */
  width: 30vw;
}

::placeholder {
  text-align: left;
  color: rgb(75, 75, 75);
  font-size: 1em;
  letter-spacing: 4px;
}

.footer__contacto{
  padding-bottom: 20px;
  font-size: 1.6rem;
  font-weight: 100;
  letter-spacing: 1px;
}

.nav__links__footer {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
}

@media screen and (max-width:400px){
  .footer__container{
    flex-wrap: wrap;
  }

  .footer_escribenos{
    position: relative;
  }
  .footer__title{
    font-size: 1.3rem;
  }

 .footer__contacto{
  font-size: 1.1rem;
 }

 .footer__input{
  font-size: 0.8rem;
  width:100px;
 }

  .footer__submit{
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 1.3rem;
    border-style: solid;
    border-color: #100a15;
    cursor: pointer;
    text-align: center;
  }
  }

/*Menú hamburguesa para móviles*/

@media screen and (max-width:767px){
  .nav__menu{
    position: relative;
    display: inline-block;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  .nav__menu.open {
    transform: rotate(-90deg);
  }

  .nav__link--menu{
    position:fixed;
    background-color: #100a15;
    top:60px;
    left:0;
    height: 100%;
    width:100%;
    display: none;
    transform: translateY(100%);
    transition: transform 0.5s ease-in-out;
    pointer-events: none;
  }

  .nav__link--show{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
    pointer-events:unset;
    height:50%;
    transform: translateY(0);
  }

  .subtitle2{
    font-size: 1.5rem;
  }
}
